@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #004b8c;
  --color-bg-variant: #1d2731;
  --color-bg-section1: #ad6d02;
  --color-bg-section2: #3497fa;
  --color-bg-section3: #fab034;
  --color-bg-section4: #4fa7ff;

  --color-primary: #1fa9f8;
  --color-primary-variant: #f8cc09;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.9);
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-small-ms: 90%;
  --transition: all 400ms ease;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  background-image: url("../public/images/bg-texture.png");
  color: var(--color-primary);
}

/* ============================ GENERAL STYLES ============================= */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section,
footer {
  padding-bottom: 6rem;
  background-image: url("../public/images/bg-texture.png") !important;
  position: relative;
  width: 90%;
  margin: 2rem auto;
  border-radius: 3rem;
  overflow: hidden;
}
footer {
  width: 100% !important;
  border-radius: 0;
  margin: 0;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}
.btn:hover {
  background: var(--color-primary-variant);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg-variant);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ==================== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ==================== */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
